<div *ngIf="dataSended.length!==0" class="grid gap-4 md:grid-cols-3 sm:grid-cols-2 grid-cols-1">
  <mat-card class="example-card" *ngFor="let data of dataSended">
    <mat-card-header class="md:gap-5 sm:gap-4 gap-3">
      <div mat-card-avatar class="flex justify-between items-center">
        <p class="font-semibold text-sky-500 bg-slate-300 rounded-full p-2"> {{data.precio | currency}}</p>
      </div>
      <mat-card-title>{{data.prenda}}</mat-card-title>
      <mat-card-subtitle>{{data.tipo}}</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
    <mat-card-content>
      <p>
        {{data.descripcion}}
      </p>
    </mat-card-content>
    <mat-card-footer class="mt-auto">
      <button
        class="p-3 w-full bg-slate-300 hover:bg-slate-500 hover:text-white rounded-sm transition-all ease-in-out delay-150 duration-300">Add
        to the Card</button>
    </mat-card-footer>
  </mat-card>
</div>
