<mat-toolbar class="bg-[#212529] shadow-sm shadow-[#212529]  flex justify-between">
  <div class="flex justify-center items-center">
    <button  mat-icon-button class="" aria-label="Example icon-button with menu icon">
      <mat-icon class="text-white">menu</mat-icon>
    </button>
    <p class="text-white text-xl">My App</p>
  </div>
  <div class="flex flex-row gap-3 text-white text-sm">
    <a [routerLink]='["/home"]'  class="flex items-center transition-all ease-in-out delay-150 hover:text-[#e0676f] hover:border-[#0ea5e9] duration-300 hover:cursor-pointer text-[#0ea5e9] border-2 rounded-md border-[#e0676f] p-1" >Home</a>
    <button class="button-product" (click)="filterResultProducst('polos')">Polos</button>
    <button class="button-product" (click)="filterResultProducst('shorts')">Shorts</button>
    <button class="button-product" (click)="filterResultProducst('zapatillas')">Zapatillas</button>
    <a class="flex items-center transition-all ease-in-out delay-150 hover:text-[#e0676f] hover:border-[#0ea5e9] duration-300 hover:cursor-pointer text-[#0ea5e9] border-2 rounded-md border-[#e0676f] p-1">Administrador</a>
  </div>
</mat-toolbar>
