<mat-toolbar class="bg-[#212529] shadow-sm shadow-[#212529]  flex justify-between">
  <div class="flex justify-center items-center">
    <button  mat-icon-button class="" aria-label="Example icon-button with menu icon">
      <mat-icon class="text-white">menu</mat-icon>
    </button>
    <p class="text-white text-xl">My App</p>
  </div>
  <div class="flex flex-row gap-3 text-white text-sm">
    <p>Home</p>
    <p>Polos update</p>
    <p>Shorts</p>
    <p>Zapatilals</p>
    <p>Administrador</p>
  </div>
</mat-toolbar>
