<div class="w-3/4 mr-auto ml-auto p-10 mt-6 shadow-md border rounded-md border-slate-300">
  <div>
    <p class="text-center text-2xl font-semibold underline underline-offset-4 decoration-double decoration-sky-500">
      Product List Viewed</p>
    <app-searching-product (changeFilter)="listenSearching($event)"></app-searching-product>
  </div>
    <app-product-card [currencyFilterPassing]="currencyFilterPassing" (addStorageProduct)="addStorageProduct($event)"></app-product-card>
</div>
<app-store-manage [ventas]="currencyValueStorage"></app-store-manage>
